# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs
export LANG=UTF-8
export PS1=`uname -n`':$PWD>'
set -o vi
PATH=$PATH:$HOME/bin
export PATH

# Tomcat custom settings
export JAVA_HOME="{{ JAVA_HOME }}"
export PATH=$JAVA_HOME/bin:$PATH
export TOMCATDIR1="{{ tomcat_directory }}/{{ instance.name }}"
export TOMCATLOG1="{{ instance.loghome }}"

alias thome1='cd $TOMCATDIR1'
alias tcfg1='cd $TOMCATDIR1/conf'
alias tbin1='cd $TOMCATDIR1/bin'
alias cdtlog1='cd $TOMCATLOG1'
alias tlog1='tail -100f $TOMCATLOG1/catalina.out'
alias tboot1='$TOMCATDIR1/bin/startup.sh'
alias tdown1='$TOMCATDIR1/bin/shutdown.sh'
