{{ ansible_managed | comment }}

{% if instance.java_opts is defined %}
{% for java_opt in instance.java_opts %}
{{ java_opt.name }}="{{ java_opt.value }}"
{% endfor %}
{% endif %}

JAVA_OPTS="-Xms{{ instance.xms }} -Xmx{{ instance.xmx }}"
JAVA_OPTS="-XX:PermSize={{ instance.maxperm }} -XX:MaxPermSize={{ instance.maxperm }} ${JAVA_OPTS}"
JAVA_OPTS="-XX:+UseParNewGC -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -Xloggc:{{ instance.gcloghome }} ${JAVA_OPTS}"
JAVA_OPTS="-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{ instance.dumphome }} ${JAVA_OPTS}"


